# gunicorn.service
# For running Gunicorn based application with a config file - TutLinks.com
#
# In Service Configuration section,
# make sure the WorkingDirectory, ExecStart and ExecReload commands are correct
# for your installation. Also do not forget to change the User and Group accordingly.
#
#
# Author: Navule Pavan Kumar Rao
# This file is referenced from official repo of TutLinks.com
# https://github.com/windson/fastapi/blob/fastapi-gunicorn-socket-deployment/gunicorn.service
# Subscribe to TutLinks channel on YouTube: http://bit.ly/2Uc0YNk
#
[Unit]
Description=gunicorn socket

[Socket]
ListenStream=/run/gunicorn.sock
# Our service won't need permissions for the socket, since it
# inherits the file descriptor by socket activation
# only the nginx daemon will need access to the socket
User=www-data
# Optionally restrict the socket permissions even more.
# Mode=600

[Install]
WantedBy=sockets.target
